* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: dosis;
    src: url(zasoby/Dosis-VariableFont_wght.ttf);
}

body {
    font-family: dosis;
    background-image: url(zasoby/Projekt\ bez\ tytułu.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    display: flex;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 239, 235, 0.6);
    font-size: 18px;
    
}

.logo {
    transform: scale(0.65);
}

.logo:hover{
    background-color: rgba(255, 255, 255, 0.6);
}
 
.header-content{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
} 

.header-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    padding:10px;
    border-radius: 10px;
}
.header-button:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

.btn{
    cursor: pointer;
}

.content{
    display: flex;
    justify-content: center;
    /* width: 1200px; */
}

.first-l{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0px 0px 0px;
    /* background-color: rgba(250, 239, 235, 0.8); */
    padding: 40px;
    border-radius: 20px;
}

.book-info{
    margin:90px;
    padding:60px;
    font-size: 35px;
    background-color: rgba(255, 255,255, 0.65);
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 20px;
}

.book-cover{
    margin:0px 150px;
}

.buttons{
    margin: 40px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn2{
    border: 0px;
    border-radius: 12px;
    font-family: dosis;
    font-size: 22px;
    padding: 6px 12px;
    margin:5px;
}
.kup-teraz{
    background-color: #647386;
    color: white;
}
.kup-teraz:hover{
    background-color: #414a55;
    color: white;
    transition: 250ms;
}

.dowiedz{
    background-color: #f8c304;
    /* color: white; */
}

.dowiedz:hover{
    background-color: #f6c000;
    color: white;
    transition: 250ms;
}