* {
    margin: 0;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: rgb(248, 244, 244);
}

nav {
    height: 5vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar a {
    color: black;
    font-size: 2.8vh;
    margin: 2rem;
    letter-spacing: 0.15rem;
    transition: color 0.4s, text-shadow 0.8s;
    text-decoration: none;
}

.main-nav {
    margin-right: auto;
    display: inline-flex;
    align-items: center;
}

.main-nav img {
    height: 7rem;
    display: inline;
}

#name {
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 0;
}

nav a:hover {
    color: darkgray;
    text-shadow: 0 0 16px lightgray;
}

nav #name:hover {
    color: black;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.shop-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.shop-content img {
    width: 17vw;
    height: 17vw;
    background-color: white;
    border-radius: 30px;
}

.product-box {
    width: 19vw;
    text-align: center;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid black;
    transition: 0.4s;
}

.product-box span {
    font-size: 1.4rem;
}

.product-box button {
    width: 5rem;
    height: 3rem;
    font-size: 1.4rem;
    padding: 0.7rem;
    border-radius: 30px;
    border: none;
    background-color: white;
    margin-left: 1rem;
}

.product-box button:hover {
    background-color: lightgray;
    transition: 0.4s;
}