* {
    margin: 0;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: rgb(248, 244, 244);
}

nav {
    height: 5vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar a {
    color: black;
    font-size: 2.8vh;
    margin: 2rem;
    letter-spacing: 0.15rem;
    transition: color 0.4s, text-shadow 0.8s;
    text-decoration: none;
}

.main-nav {
    margin-right: auto;
    display: inline-flex;
    align-items: center;
}

.main-nav img {
    height: 7rem;
    display: inline;
}

#name {
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 0;
}

nav a:hover {
    color: darkgray;
    text-shadow: 0 0 16px lightgray;
}

nav #name:hover {
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart {
    margin: 3vw;
    background-color: white;
    padding: 0px;
}

.cart-details {
    display: flex;
    flex-wrap: wrap;
}

.cart-details p {
    margin: 1rem;
}

.cart-details button {
    margin: 0.9rem;
    margin-top: 0rem;
}

.subtotal {
    text-align: right;
}

.subtotal-value {
    text-align: right;
}

.product-name {
    font-size: 1.4rem;
}

.item-text {
    margin: 1rem;
}

th {
    text-align: left;
    padding: 8px;
    color: white;
    background-color: rgb(137, 207, 240);    
    font-size: 1.3rem;
}

td {
    padding: 10px 5px;
}

td input {
    width: 1.7vw;
    height: 1vw;
    padding: 5px;
}

.remove {
    font-size: 1rem;
    color: red;
    background-color: white;
    border: none;
    text-decoration: underline;
    transition: color 0.3s;
}

.remove:hover {
    color: rgb(197, 3, 3);
}

td img {
    width: 10vw;
    height: 10vw;
    margin-right: 2rem;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid rgb(137, 207, 240);
    width: 30%;
}

.checkout {
    color: white;
    font-weight: bold;
    background-color: rgb(137, 207, 240);
    border: none;
    height: 2vw;
    width: 12vw;
    border-radius: 30px;
    font-size: 1rem;
    transition: background-color 0.5s;
}

.checkout:hover {
    background-color: rgb(86, 190, 238);
}
