* {
    margin: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: white;
}

nav {
    height: 5vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
}

body::-webkit-scrollbar {
    width: 0; 
    background-color: transparent; 
}

.navbar a {
    color: black;
    font-size: 1.5rem;
    margin: 2rem;
    letter-spacing: 0.15rem;
    transition: color 0.4s, text-shadow 0.8s;
    text-decoration: none;
}

.main-nav {
    margin-right: auto;
    display: inline-flex;
    align-items: center;
}

.main-nav img {
    height: 7rem;
    display: inline;
}

#name {
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 0;
  }

nav a:hover {
    color: darkgray;
    text-shadow: 0 0 16px lightgray;
}

nav #name:hover {
    color: darkgray;
}

.background-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    width: 100%;
}

#section-name {
    margin-top: 3rem;
    margin-left: 13rem;
    margin-bottom: 0.1rem;
    font-size: 1.8rem;
}

.categories {
    display: flex;
    justify-content: center;
    text-align: center;
}

.categories img {
    margin: 2rem;
    border-radius: 30px;
    transition: transform 0.5s;
}

.categories img:hover {
    transform: scale(1.2);
}

.electronics,
.bags,
.books,
.shoes,
.travel,
.furniture {
    position: relative;
    color: white;
  }


.text {
    position: absolute;
    top: 15%;
    left: 25%;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.position1 {
    left: 40%;
}

.position2 {
    left: 37%;
}

.position3 {
    left: 30%;
}

.recommendations {
    display: flex;
    justify-content: center;
    text-align: center;
}

.product {
    margin: 2rem;
    background-color: rgb(249, 246, 238);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product p {
    text-align: left;
    padding: 1rem;
    font-size: 1.1em;
    padding-top: 0;
}

.price {
    font-weight: bold;
}

.review {
    text-align: left;
    padding: 1rem;
    padding-top: 0;
}

.add {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px;
    font-size: 1rem;
    transition: background 0.8s;
    border: 1.5px solid black;
}

.add:hover {
    background: rgb(54, 69, 79);
    color: white;
    border: none;
}

.recommendations img {
    transition: transform 0.5s;
}

.recommendations img:hover {
    transform: scale(1.2);
}

.cashback {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cashback img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.cashback .background-text {
    width: 23rem;
    height: 23rem;
    background-color: rgb(193, 154, 107);
    position: absolute;
    top: 12%;
    right: 15%;
    display: flex;
}

.background-text h3 {
    width: 23rem;
    color: white;
    display: flex;
    padding: 2rem;
    font-weight: bold;
    font-size: 2.8rem;
    position: relative;
}

.background-text p {
    display: inline;
    position: inherit;
    padding: 2rem;
    bottom: 18%;
    color: white;
    font-size: 1.2rem;
}

.cashback button {
    width: 9rem;
    height: 4rem;
    background-color: rgb(193, 154, 107);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 30px;
    position: inherit;
    bottom: 5%;
    left: 30%;
    justify-content: center;
    transition: background 0.5s, border 0.2s;
}

.cashback button:hover {
    background: black;
    border: 0;
}


.promotions {
    display: flex;
    justify-content: center;
    text-align: center;
}

.promotion-details {
    width: 16vw;
    height: 43vh;
    margin: 3rem;
    margin-top: 1.5rem;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.promotion-details img {
    position: absolute;
    bottom: 0;
    left: 0;
    border-end-start-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    transition: transform 0.5s;
}

.promotion-details:hover img {
    transform: scale(1.15);
}

.promotion1 {
    background-color: rgb(175, 225, 175);
}

.promotion2 {
    background-color: rgb(234, 221, 202);
}

.promotion3 {
    background-color: rgb(229, 170, 151);
}

.promotion4 {
    background-color: rgb(236, 218, 170);
}

.promotion-details p {
    font-size: 1.5rem;
    position: absolute;
    left: 5%;
    padding: 1rem;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: rgb(56, 60, 63);
}

.promotion-details .price-tag {
    left: 5%;
    top: 8%;
    font-size: 2.8rem;
}

.promotion-details .price-tag1 {
    color: rgb(38, 43, 7);
}

.promotion-details .price-tag2 {
    color: rgb(123, 63, 0);
}

.promotion-details .price-tag3 {
    color: rgb(136, 8, 8);
}

.promotion-details .price-tag4 {
    color: rgb(209, 163, 24);
}

.promotion-details .promotion-text {
    top: 25%;
    font-size: 1.1rem;
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
}

footer {
    width: 100%;
    height: 40vh;
    margin-top: 4rem;
    border-top: 1px solid black;
}

footer h3 {
    padding-bottom: 0;
}

footer img {
    width: 3.5vw;
}

footer p {
    padding: 3rem;
    padding-top: 0;
    width: 30vw;
}

.footer-heading {
    display: flex;
    align-items: center;
    margin: 1.5rem;
    margin-bottom: 0.5rem;
}

.payments {
    margin-left: 8rem;
}

.footer-images img{
    width: 3rem;
    height: 1.5rem;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    object-fit: contain;
    display: inline-grid;
    margin: 0.3rem;
}

.payment-section {
    margin-left: 3rem
}

@media screen and (max-width: 600px) {
    .navbar a {
        font-size: 3.5vw;
        margin: 0.5vw;
        padding: 0.2rem;
    }

    #name {
        font-size: 5vw;
        margin: 3vw;
    }
}

@media screen and (max-width: 1100px) {
    .navbar a {
        font-size: 1rem;
        margin: 0.5vw;
        padding: 0.2rem;
    }
}
