* {
    margin: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: white;
    overflow-x: hidden;
}

nav {
    height: 5vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar a {
    color: black;
    font-size: 2.8vh;
    margin: 2rem;
    letter-spacing: 0.15rem;
    transition: color 0.4s, text-shadow 0.8s;
    text-decoration: none;
}

.main-nav {
    margin-right: auto;
    display: inline-flex;
    align-items: center;
}

.main-nav img {
    height: 7rem;
    display: inline;
}

#name {
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 0;
}

nav a:hover {
    color: darkgray;
    text-shadow: 0 0 16px lightgray;
}

nav #name:hover {
    color: black;
}

.background-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    min-width: 100%;
    height: auto;
}

.section-name {
    margin-top: 3rem;
    margin-left: 13rem;
    margin-bottom: 0.1rem;
    font-size: 1.8rem;
}

.categories {
    display: flex;
    justify-content: center;
    text-align: center;
}

.categories img {
    margin: 2rem;
    border-radius: 30px;
}

.electronics,
.bags,
.books,
.sneakers,
.travel,
.furniture {
    position: relative;
    color: white;
    transition: transform 0.6s;
}

.electronics:hover,
.bags:hover,
.books:hover,
.sneakers:hover,
.travel:hover,
.furniture:hover {
    transform: scale(1.2);
}

.text {
    position: absolute;
    top: 15%;
    left: 25%;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.position1 {
    left: 40%;
}

.position2 {
    left: 37%;
}

.position3 {
    left: 30%;
}

.recommendations {
    display: flex;
    justify-content: center;
    text-align: center;
}

.product {
    margin: 2rem;
    background-color: rgb(249, 246, 238);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 16vw;
}

.product p {
    text-align: left;
    padding: 1rem;
    font-size: 1.1em;
    padding-top: 0;
}

.price {
    font-weight: bold;
}

.review {
    text-align: left;
    padding: 1rem;
    padding-top: 0;
}

.add {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px;
    font-size: 1rem;
    transition: background 0.8s;
    border: 1.5px solid black;
}

.add:hover {
    background: rgb(54, 69, 79);
    color: white;
    border: none;
}

.recommendations img {
    transition: transform 0.5s;
}

.recommendations img:hover {
    transform: scale(1.2);
}

.cashback {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}

.cashback img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.cashback .background-text {
    width: 20vw;
    height: 20vw;
    background-color: rgb(193, 154, 107);
    position: absolute;
    right: 15%;
}

.background-text h3 {
    width: 18vw;
    color: white;
    display: flex;
    padding: 3vh;
    font-weight: bold;
    font-size: 1.8vw;
    position: relative;
}

.background-text p {
    display: inline;
    position: inherit;
    padding: 2rem;
    bottom: 18%;
    color: white;
    font-size: 1vw;
}

.cashback button {
    width: 9rem;
    height: 4rem;
    background-color: rgb(193, 154, 107);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 30px;
    position: inherit;
    bottom: 5%;
    left: 30%;
    justify-content: center;
    transition: background 0.5s, border 0.2s;
}

.cashback button:hover {
    background: black;
    border: 0;
}


.promotions {
    display: flex;
    justify-content: center;
    text-align: center;
}

.promotion-details {
    width: 16vw;
    height: 43vh;
    margin: 3rem;
    margin-top: 1.5rem;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.promotion-details img {
    position: absolute;
    bottom: 0;
    left: 0;
    border-end-start-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    height: 50%;
    transition: transform 0.5s;
}

.promotion-details:hover img {
    transform: scale(1.15);
}

.promotion1 {
    background-color: rgb(175, 225, 175);
}

.promotion2 {
    background-color: rgb(234, 221, 202);
}

.promotion3 {
    background-color: rgb(229, 170, 151);
}

.promotion4 {
    background-color: rgb(236, 218, 170);
}

.promotion-details p {
    font-size: 2.8vh;
    position: absolute;
    left: 5%;
    padding: 0.8rem;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: rgb(56, 60, 63);
}

.promotion-details .price-tag {
    left: 5%;
    top: 8%;
    font-size: 5vh;
}

.promotion-details .price-tag1 {
    color: rgb(38, 43, 7);
}

.promotion-details .price-tag2 {
    color: rgb(123, 63, 0);
}

.promotion-details .price-tag3 {
    color: rgb(136, 8, 8);
}

.promotion-details .price-tag4 {
    color: rgb(209, 163, 24);
}

.promotion-details .promotion-text {
    top: 25%;
    font-size: 1.8vh;
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
}

footer {
    width: 100%;
    height: 38vh;
    margin-top: 4rem;
    border-top: 1px solid black;
    display: flex;
}

footer h3 {
    padding-bottom: 0;
}

footer img {
    width: 3.5vw;
}

footer p {
    padding: 3rem;
    padding-top: 0;
    width: 30vw;
}

.footer-heading {
    display: flex;
    align-items: center;
    margin: 1.5rem;
    margin-bottom: 0.5rem;
}

.payments {
    margin-left: 8rem;
}

.footer-images img{
    width: 3rem;
    height: 1.5rem;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    object-fit: contain;
    margin: 0.3rem;
    transition: transform 0.3s;
}

.footer-images img:hover {
    transform: scale(1.1);
}

.payment-section {
    margin-left: 3rem
}

.column {
    width: 15vw;
    margin: 2.4vh;
    margin-top: 4rem;
}

.column h3 {
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

.column p {
    padding: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    transition: transform 0.3s, color 0.3s;
}

.column p:hover {
    transform: translateX(0.8rem);
    color: orangered;
}

@media screen and (max-width: 600px) {
    .navbar {
        height: 50vw;
        background-color: white;
        padding: 0;
    }

    .navbar a {
        font-size: 9vw;
        margin: 3vw;
    }

    .main-nav img {
        height: 27vw;
        display: inline;
    }
    
    #name {
        font-size: 12vw;
    }
    
    .section-name {
        font-size: 5rem;
        width: 80rem;
        margin-left: 2rem;
    }

    .categories {
        display: grid;
        margin-left: 170vw;
        margin-top: 5rem;
    }
    
    .electronics {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .bags {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .categories img {
        margin: 3rem;
        border-radius: 30px;
        width: 140vw;
    }

    .text {
        top: 15%;
        left: 25%;
        font-size: 4rem;
    }

    .position1 {
        left: 36%;
    }
    
    .position2 {
        left: 33%;
    }
    
    .position3 {
        left: 30%;
    }

    .recommendations {
        display: grid;
        margin-left: 170vw;
    }
    
    .product {
        width: 140vw;
    }

    #product1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    #product2 {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    
    .product p {
        padding: 1rem;
        font-size: 4rem;
    }
    
    .review {
        font-size: 3rem;
    }
    
    .add {
        padding: 1.5rem;
        font-size: 3rem;
    }

    .cashback {
        width: 0;
        height: 0;
    }
    
    .cashback img {
        width: 0;
        height: 0;
    }
    
    .cashback .background-text {
        width: 0;
        height: 0;
    }
    
    .background-text h3 {
        width: 0;
        font-size: 0;
    }
    
    .background-text p {
        display: inline;
        position: inherit;
        padding: 2rem;
        bottom: 18%;
        color: white;
        font-size: 1vw;
    }
    
    .cashback button {
        width: 0;
        height: 0;
    }
    
    .promotions {
        display: grid;
    }
    
    .promotion-details {
        width: 300vw;
        height: 450vw;
        margin-left: 250vw;
        margin-top: 3rem;
    }
    
    .promotion-details p {
        font-size: 13vh;
        padding: 3rem;
    }
    
    .promotion-details .price-tag {
        font-size: 20vh;
    }
    
    .promotion-details .promotion-text {
        font-size: 8vh;
    }

    footer {
        width: 1000%;
        height: 38vh;
        margin-top: 4rem;
        display: grid;
    }
    
    footer h3 {
        padding-bottom: 0;
        font-size: 5.5rem;
        width: 300vw;
        text-align: center;
    }
    
    footer img {
        width: 50vw;
    }
    
    #easycart-p {
        width: 300vw;
        display: flex;
        font-size: 3rem;
    }

    footer p {
        padding: 3rem;
        padding-top: 0;
        width: 300vw;
    }
    
    .payments {
        margin-left: 8rem;
    }
    
    .footer-images img{
        width: 10rem;
        height: 5rem;
        margin: 0.5rem;
    }
    
    .column {
        width: 15vw;
        margin: 2.4vh;
        margin-top: 4rem;
        text-align: center;
    }
    
    .column h3 {
        font-size: 4.5rem;
    }
    
    .column p {
        font-size: 3rem;
    }
    
    .column p:hover {
        transform: translateX(1.3rem);
    }
}
