<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles-cart.css" />
    <link rel="stylesheet" href="../../static/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="../../static/images/Cart.jpg" />
    <title>EasyCart</title>
    <script
      src="https://kit.fontawesome.com/3b0b25f0f2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="main-nav">
        <img
          src="../../static/images/Favicon.png"
          alt="Image of shopping cart"
        />
        <a id="name" href="">EasyCart</a>
        <a href="">Home</a><a href="">Categories</a><a href="">About</a
        ><a href="">Contact</a>
      </div>
      <a href=""><i class="fa-solid fa-user"></i>&ensp;Account</a
      ><a href="cart.html"
        ><i class="fa-solid fa-cart-shopping"></i>&ensp;Cart</a
      >
    </nav>
    <section class="cart">
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th class="subtotal">Subtotal</th>
        </tr>
        <tr class="item">
          <td>
            <div class="cart-details">
              <img src="../../static/images/example2.png" alt="" />
              <div class="item-text">
                <p class="product-name">Razer headphones</p>
                <p>Price: 50.00$</p>
                <button class="remove">Remove</button>
              </div>
            </div>
          </td>
          <td><input min="1" max="99" type="number" /></td>
          <td class="subtotal-value">50.00$</td>
        </tr>
        <tr class="item">
          <td>
            <div class="cart-details">
              <img src="../../static/images/Mouse.jpg" alt="" />
              <div class="item-text">
                <p class="product-name">Razer headphones</p>
                <p>Price: 50.00$</p>
                <button class="remove">Remove</button>
              </div>
            </div>
          </td>
          <td><input min="1" max="99" type="number" /></td>
          <td class="subtotal-value">50.00$</td>
        </tr>
      </table>

      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td>200.00$</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>30.00$</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>230.00$</td>
          </tr>
          <tr>
            <td><button class="checkout">Checkout</button></td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
