<!DOCTYPE html>
<html lang="en">
  {% load static%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles-cart.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles-navbar.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/Cart.jpg' %}"
    />
    <title>EasyCart</title>
    <script
      src="https://kit.fontawesome.com/3b0b25f0f2.js"
      crossorigin="anonymous"
    ></script>
    {% include 'csrf.html' %} {% include 'cookie.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <section class="cart">
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th class="subtotal">Subtotal</th>
        </tr>
        {% for item in items %}
        <tr class="item">
          <td>
            <div class="cart-details">
              <img src="{{ item.product.image.url }}" alt="Photo of product" />
              <div class="item-text">
                <p class="product-name">{{ item.product.title }}</p>
                <p>Price: {{ item.product.price }}$</p>
                <button
                  data-product="{{item.product.id}}"
                  data-action="remove"
                  class="remove update-cart"
                >
                  Remove
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="quantity-container">
              <span>{{ item.quantity }}</span>
              <div class="button-container">
                <button
                  data-product="{{item.product.id}}"
                  data-action="add"
                  class="update-cart"
                >
                  +
                </button>
                <button
                  data-product="{{item.product.id}}"
                  data-action="delete"
                  class="update-cart"
                >
                  -
                </button>
              </div>
            </div>
          </td>
          <td class="subtotal-value">{{ item.subtotal }}$</td>
        </tr>
        {% endfor %}
      </table>

      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>

            <td>{{ cart.total_without_tax }}$</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>{{ cart.tax }}$</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{ cart.total_with_tax }}$</td>
          </tr>
          <tr>
            <td><button class="checkout">Checkout</button></td>
          </tr>
        </table>
      </div>
    </section>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
  </body>
</html>
