<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles-login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles-navbar.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="../../static/images/Cart.jpg" />
    <title>EasyCart</title>
    <script
      src="https://kit.fontawesome.com/3b0b25f0f2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% include 'navbar.html' %} {% for message in messages %}
    <p class="message">{{message}}</p>
    {% endfor %}
    <section class="center">
      <h1>Login</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="text-field">
          <input
            placeholder=" "
            type="text"
            name="username"
            minlength="5"
            maxlength="30"
            required
          />
          <label for="">Username</label>
        </div>
        <div class="text-field">
          <input
            placeholder=" "
            type="password"
            name="password"
            minlength="5"
            maxlength="30"
            required
          />
          <label for="">Password</label>
        </div>
        <input type="submit" value="Login" class="login" />
        <p>Don't have an account?</p>
        <a class="signup" href="{% url 'signup' %}">Signup</a>
      </form>
    </section>
  </body>
</html>
