<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <link rel="stylesheet" href="../../static/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <script
      src="https://kit.fontawesome.com/3b0b25f0f2.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="main-nav">
        <a id="name" href="">EasyCart</a>
        <a href="">Home</a><a href="">Categories</a><a href="">About</a
        ><a href="">Contact</a>
      </div>
      <a href=""><i class="fa-solid fa-user"></i>&ensp;Account</a
      ><a href=""><i class="fa-solid fa-cart-shopping"></i>&ensp;Cart</a>
    </nav>
    <img
      class="background-photo"
      src="../../static/images/background.jpg"
      alt="Background photo of the website"
    />
    <h2 id="section-name">Check Out Our Top Categories</h2>
    <section class="categories">
      <div class="electronics">
        <img
          src="../../static/images/Electronic.png"
          alt="Photo of electronic devices"
        />
        <h3 class="text">Electronics</h3>
      </div>
      <div class="bags">
        <img src="../../static/images/Bags.png" alt="Photo of bags" />
        <h3 class="text position1">Bags</h3>
      </div>
      <div class="books">
        <img src="../../static/images/Books.png" alt="Photo of books" />
        <h3 class="text position2">Books</h3>
      </div>
      <div class="shoes">
        <img src="../../static/images/Shoes.png" alt="Photo of shoes" />
        <h3 class="text position2">Shoes</h3>
      </div>
      <div class="travel">
        <img
          src="../../static/images/Travel.png"
          alt="Photo of suitcase and hat"
        />
        <h3 class="text position2">Travel</h3>
      </div>
      <div class="furniture">
        <img src="../../static/images/Furniture.png" alt="Photo of furniture" />
        <h3 class="text position3">Furniture</h3>
      </div>
    </section>
    <h2 id="section-name">Products Recommended For You</h2>
    <section class="recommendations">
      <div class="product">
        <img src="../../static/images/example1.png" alt="Photo of watch" />
        <p>Samsung watch ultra</p>
        <p class="price">129.99$</p>
        <div class="review">
          <i>Reviews</i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
          <button class="add">
            Add to Cart&ensp;<i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </div>
      <div class="product">
        <img src="../../static/images/example2.png" alt="Photo of headphones" />
        <p>Razer kraken pro</p>
        <p class="price">159.99$</p>
        <div class="review">
          <i>Reviews</i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <button class="add">
            Add to Cart&ensp;<i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </div>
      <div class="product">
        <img src="../../static/images/example3.png" alt="Photo of bag" />
        <p>Purple bag</p>
        <p class="price">29.99$</p>
        <div class="review">
          <i>Reviews</i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <button class="add">
            Add to Cart&ensp;<i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </div>
      <div class="product">
        <img src="../../static/images/example4.png" alt="Photo of bottle" />
        <p>Water bottle</p>
        <p class="price">9.99$</p>
        <div class="review">
          <i>Reviews</i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
          <button class="add">
            Add to Cart&ensp;<i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </div>
      <div class="product">
        <img src="../../static/images/example5.png" alt="Photo of suitcase" />
        <p>Yellow suitcase</p>
        <p class="price">39.99$</p>
        <div class="review">
          <i>Reviews</i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <button class="add">
            Add to Cart&ensp;<i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </div>
    </section>
    <section class="cashback">
      <img
        src="../../static/images/Room.jpg"
        alt="Photo of cozy room with sofa"
      />
      <div class="background-text">
        <h3>Get 10% Cash back On 250$</h3>
        <p>
          Get up to $25 off for every $250 you spend! The Offer Is Valid For All
          Products From The Furniture Collection.
        </p>
        <button>Learn More</button>
      </div>
    </section>
    <h2 id="section-name">Promotions Up To 35%</h2>
    <section class="promotions">
      <div class="promotion-details promotion1">
        <p>Save</p>
        <p class="price-tag price-tag1">15%</p>
        <p class="promotion-text">
          Check Out Our School Essentials & Electronics
        </p>

        <img
          src="../../static/images/Books3.png"
          alt="Photo of school equipment"
        />
      </div>
      <div class="promotion-details promotion2">
        <p>Save</p>
        <p class="price-tag price-tag2">25%</p>
        <p class="promotion-text">
          Explore Our Clothes & Everything You Need For Holiday
        </p>
        <img
          src="../../static/images/Travel2.png"
          alt="Photo of holiday clothing"
        />
      </div>
      <div class="promotion-details promotion3">
        <p>Save</p>
        <p class="price-tag price-tag3">35%</p>
        <p class="promotion-text">
          Check Out Our Books & Other Things That Will Help You In Your
          Education
        </p>
        <img src="../../static/images/Books2.png" alt="Photo of books" />
      </div>
      <div class="promotion-details promotion4">
        <p>Save</p>
        <p class="price-tag price-tag4">15%</p>
        <p class="promotion-text">
          Explore Our Furniture & Home Furnishing Range
        </p>
        <img
          src="../../static/images/Furniture2.png"
          alt="Photo of furniture"
        />
      </div>
    </section>
    <footer>
      <h3>EasyCart</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores,
        perferendis saepe! Libero consequatur distinctio veniam
      </p>
    </footer>
  </body>
</html>
