<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <link rel="stylesheet" href="../../static/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <a id="name" href="">EasyCart</a>
      <a href="">Home</a><a href="">Categories</a><a href="">About</a
      ><a href="">Contact</a>
    </nav>
    <img
      class="background__photo"
      src="../../static/images/background.jpg"
      alt="Background photo of the website"
    />
    <h2 id="section__name">Check out our top categories</h2>
    <section class="categories">
      <div class="electronics">
        <img
          src="../../static/images/Electronic.png"
          alt="Photo of electronic devices"
        />
        <h3 class="text">Electronics</h3>
      </div>
      <div class="bags">
        <img src="../../static/images/Bags.png" alt="Photo of bags" />
        <h3 class="text position1">Bags</h3>
      </div>
      <div class="books">
        <img src="../../static/images/Books.png" alt="Photo of books" />
        <h3 class="text position2">Books</h3>
      </div>
      <div class="shoes">
        <img src="../../static/images/Shoes.png" alt="Photo of shoes" />
        <h3 class="text position2">Shoes</h3>
      </div>
      <div class="travel">
        <img
          src="../../static/images/Travel.png"
          alt="Photo of suitcase and hat"
        />
        <h3 class="text position2">Travel</h3>
      </div>
      <div class="furniture">
        <img src="../../static/images/Furniture.png" alt="Photo of furniture" />
        <h3 class="text position3">Furniture</h3>
      </div>
    </section>
  </body>
</html>
