{% load static %}
<nav class="navbar">
  <div class="main-nav">
    <img src="{% static 'images/Favicon.png' %}" alt="Image of shopping cart" />
    <a id="name" href="{% url 'homepage' %}">EasyCart</a>
    <a href="{% url 'homepage' %}">Home</a
    ><a href="{% url 'products' %}">Products</a><a href="">About</a
    ><a href="">Contact</a>
  </div>
  <a href="{% url 'login' %}"><i class="fa-solid fa-user"></i>&ensp;Account</a
  ><a href="{% url 'cart' %}"
    ><i class="fa-solid fa-cart-shopping"></i>&ensp;Cart
    <div class="number">{{ cart.total_quantity }}</div></a
  >
</nav>
