<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles-navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles-products.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="../../static/images/Cart.jpg" />
    <title>EasyCart</title>
    <script
      src="https://kit.fontawesome.com/3b0b25f0f2.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    {% include 'navbar.html' %}
      <section class="shop-container">
        <h1>Shop Products</h1>
        <div class="shop-content">
            <div class="product-box">
                <img src="../../static/images/Mouse.jpg" alt="">
                <h2>Mx Master Mouse</h2>
                <span class="price">80$</span>
                <button><i class="fa-solid fa-cart-plus"></i></i></button>
            </div>
            <div class="product-box">
                <img src="../../static/images/example1.png" alt="">
                <h2>Watch</h2>
                <span class="price">80$</span>
                
                <button><i class="fa-solid fa-cart-plus"></i></i></button>
            </div>
            <div class="product-box">
                <img src="../../static/images/example2.png" alt="">
                <h2>Razer headphones</h2>
                <span class="price">80$</span>

                <button><i class="fa-solid fa-cart-plus"></i></i></button>
            </div>
            <div class="product-box">
                <img src="../../static/images/example3.png" alt="">
                <h2>Pink bag</h2>
                <span class="price">80$</span>
                
                <button><i class="fa-solid fa-cart-plus"></i></i></button>
            </div>
            <div class="product-box">
                <img src="../../static/images/example4.png" alt="">
                <h2>Bottle</h2>
                <span class="price">80$</span>
                
                <button><i class="fa-solid fa-cart-plus"></i></i></button>
            </div>
            
        </div>
      </section>
</body>
</html>