<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles-signup.css" />
    <link rel="stylesheet" href="../../static/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="../../static/images/Cart.jpg" />
    <title>EasyCart</title>
    <script
      src="https://kit.fontawesome.com/3b0b25f0f2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="center">
      <h1>Signup</h1>
      <form method="post">
        <div class="text-field">
          <input
            placeholder=" "
            type="text"
            minlength="5"
            maxlength="30"
            required
          />

          <label for="">First name</label>
        </div>
        <div class="text-field">
          <input
            placeholder=" "
            type="text"
            minlength="5"
            maxlength="30"
            required
          />

          <label for="">Last name</label>
        </div>
        <div class="text-field">
          <input
            placeholder=" "
            type="email"
            minlength="5"
            maxlength="35"
            required
          />

          <label for="">Email</label>
        </div>
        <div class="text-field">
          <input
            placeholder=" "
            type="text"
            minlength="5"
            maxlength="30"
            required
          />

          <label for="">Username</label>
        </div>
        <div class="text-field">
          <input
            placeholder=" "
            type="password"
            minlength="5"
            maxlength="30"
            required
          />

          <label for="">Password</label>
        </div>
        <input type="submit" value="Signup" class="login" />
        <p>Already a member?</p>
        <a class="signup" href="login.html">Login</a>
      </form>
    </section>
  </body>
</html>
