<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles-signup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles-navbar.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="../../static/images/Cart.jpg" />
    <title>EasyCart</title>
    <script
      src="https://kit.fontawesome.com/3b0b25f0f2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <section class="center">
      <h1>Signup</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="text-field">{{form.username}}</div>
        <div class="text-field">{{form.email}}</div>
        <div class="text-field">{{form.password1}}</div>
        <div class="text-field">{{form.password2}}</div>
        <button type="submit">Signup</button>
        <p>Already have an account?</p>
        <a class="signup" href="{% url 'login' %}">Login</a>
      </form>
    </section>
    <script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
  </body>
</html>
