* {
    margin: 0;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: rgb(248, 244, 244);
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.shop-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.shop-content img {
    width: 17vw;
    height: 17vw;
    background-color: white;
    border-radius: 30px;
}

.product-box {
    width: 19vw;
    text-align: center;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid black;
    transition: 0.4s;
}

.product-box span {
    font-size: 1.4rem;
}

.product-box button {
    width: 5rem;
    height: 3rem;
    font-size: 1.4rem;
    padding: 0.7rem;
    border-radius: 30px;
    border: none;
    background-color: white;
    margin-left: 1rem;
}

.product-box button:hover {
    background-color: lightgray;
    transition: 0.4s;
}