* {
    margin: 0;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#83EAF1, #63A4FF);
    height: 100vh;
}

.center  {
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: white;
    border-radius: 30px;
    width: 20vw;
    height: 20vw;
}

.center h1 {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
}

form .text-field {
    position: relative;
    
    margin: 30px 0;
}

.text-field input {
    width: 100%;
    padding: 0 5px;
    height: 2vw;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid rgb(104, 103, 103);
    transition: 0.5s;
}

form .text-field input:focus {
    border-bottom: 2px solid rgb(0, 150, 255);
}


.text-field input:focus ~ label {
    top: -5px;
    color: rgb(0, 150, 255);
}

button {
    width: 100%;
    height: 2vw;
    border-radius: 30px;
    margin-bottom: 1rem;
    border: none;
    background-color: rgb(57, 184, 243);
    font-weight: bold;
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(41, 151, 202);
}

.signup {
    color: rgb(8, 8, 224);
    text-decoration: none;
}

.signup:hover {
    text-decoration: underline;
}

p {
    margin-top: 1rem;
}

.message {
    position: absolute;
    top: 20%;
    left: 39%;
    font-weight: bold;
    font-size: 1.5rem;
}
